logging:
  level:
    root: INFO

management:
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://otel-collector:4317
  endpoints:
    web:
      exposure:
        include: "*"