server:
  port: 8888

spring:
  application:
    name: md-config-server
  cloud:
    config:
      server:
        git:
          uri: file:///tmp/md-config


management:
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://localhost:4317
