server:
  port: 8888

spring:
  application:
    name: md-config-server
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          search-locations: file:///config-repo

logging:
  level:
    org.springframework.cloud.config: DEBUG

management:
  tracing:
    sampling:
      probability: 1.0
  otlp:
    tracing:
      endpoint: http://localhost:4317
